.container {
  max-width: 1070px;
  margin: 0 auto;
}

.second-container {
  display: flex;
}

.tabs {
  display: flex;
}
.tabs-item {
  max-width: 201px;
  text-transform: uppercase;
  line-height: 38px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.tabs-item_active {
  border: 1px solid #c6cbcd;
  border-radius: 5px 5px 0 0;
  border-bottom: white;
}

.tabs-item_active::after {
  content: "";
  max-width: 201px;
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: white;
  display: block;
}

.main-container {
  box-sizing: border-box;
  border: 1px solid #c6cbcd;
  display: flex;
  margin-bottom: 80px;
}

.main-text-block {
  margin: 0 30px 0 70px;
}

.main-container-header {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  color: #000000;
  margin: 40px 0 50px 0;
}

.main-container-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  margin: 0 0 27px 0;
  color: #000000;
}

.button-container {
  background: #ec7979;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  font-style: normal;
  border: none;
  color: white;
  width: 270px;
  height: 58px;
  text-transform: capitalize;
  border-radius: 0;
  padding: auto 0;
  cursor: pointer;
}

.test-img {
  max-height: 500px;
  max-width: 470px;
}

.intro-section {
  width: 100%;
  height: 181px;
  padding-top: 40px;
}

h1 {
  left: 171px;
  top: 1853px;
  border-radius: nullpx;
  text-align: center;
  color: black;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.border-line {
  border: 1px solid #ec7979;
  width: 170px;
  left: 480px;
  margin: 60px auto 60px auto;
}

.intro-text {
  height: 21px;
  align-items: center;
  text-align: center;
}

h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #86878b;
}

.benefits {
  margin-top: 70px;
  width: 100%;
  display: flex;
}

.benefit-header {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.design {
  text-align: center;
  padding: 0 30px;
}
.design-image {
  max-width: 150px;
  max-height: 150px;
}

.benefit-text {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.prices_block {
  height: 900px;
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 60px;
}
.prices_intro_section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 181px;
  flex-direction: column;
  display: flex;
}

h3 {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  left: 171px;
  text-align: center;
  color: black;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.border-line2 {
  border: 1px solid #ec7979;
  width: 170px;
  left: 480px;
  margin: 60px auto 60px auto;
}

.intro-text {
  height: 21px;
  align-items: center;
  text-align: center;
}
.price_text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #86878b;
}

.rates-block {
  margin-top: 70px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.rate {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid black;
  max-height: 450px;
  width: 300px;
  flex-direction: column;
  box-shadow: #86878b;

  width: calc(1 / 3 * 100% - (1 - 1 / 3) * 30px);
  margin: 0 0 20px;
}

.main-name {
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #333333;
}

.borderline {
  border: 2px solid #f5f5f5;
}
.price {
  height: 200px;
  width: 100%;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  background: #ffffff;
}

.stylish-design {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 100px;
  width: 100%;
  margin-bottom: 70px;
}

.stylish-design::after {
  content: "";
  display: block;
  background-blend-mode: multiply;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img2/image.svg");
  background-size: cover;
  height: 442px;
  width: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
}
.design-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #86878b;
}

.button-container2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  align-items: center;
  font-style: normal;
  border: solid 2px white;
  color: white;
  width: 270px;
  height: 58px;
  text-transform: capitalize;
  border-radius: 0;
  padding: auto 0;
  cursor: pointer;
  margin-top: 70px;
  margin-bottom: 50px;
  background-color: transparent;
}

h4 {
  left: 171px;

  border-radius: nullpx;
  text-align: center;
  color: white;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-transform: uppercase;
}
.border-line_last {
  border: 1px solid white;
  width: 170px;
  left: 480px;
  margin: 60px auto 60px auto;
}

h5 {
  font-family: "Raleway";
  font-style: light;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: white;
}
